@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --clr-neutral-100: #fff;
    --clr-neutral-200: #e5e5e5;
    --clr-neutral-300: #6c6c6c;
    --clr-neutral-900: #212121;

    --clr-primary-100: #ece9d9;
    --clr-primary-200: #eae2b7;
    --clr-primary-300: #fcbf49;
    --clr-primary-400: #f77f00;
    --clr-primary-500: #d62828;
    --clr-primary-700: #003049;

    --ff-primary: "Mulish", sans-serif;
    --ff-accent: "Lato", sans-serif;
}

.auto-margin {
    margin: auto;
}

.split {
    display: flex;
    flex-direction: row;
}

.split > * + * {
    padding: 0 0 0 10px;
}

.split div {
    flex: 1;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 1.4em;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: var(--clr-primary-400);
    vertical-align: middle;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: clamp(14px, 1.2vw, 2rem);
    line-height: 1.6;
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral-100);
    background-image: url("img/background.png");
    background-repeat: repeat;
}

a:hover,
a:focus {
    cursor: pointer;
}

a {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    color: var(--clr-neutral-900);
}

a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--clr-primary-300);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

a:hover:before,
a:focus:before,
a:active:before {
    left: 0;
    right: 0;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.homefeed {
    display: flex;
    justify-content: center;
    flex: 1;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    background: var(--clr-primary-700);
    color: var(--clr-neutral-100);
    padding: min(1.4em, 20px);
    font-size: 1.1em;
}

.menu-wrapper a {
    color: var(--clr-neutral-100);
}

.menu-div {
    width: min(77vw, 1800px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-right {
    display: flex;
}

.menu-right div:not(:last-child) {
    margin-right: 2em;
}

.site-name {
    font-size: 1.55em;
    color: var(--clr-primary-400);
    vertical-align: middle;
}

.site-logo {
    font-size: 2em;
    vertical-align: middle;
}

.event-wrapper {
    width: min(65vw, 1600px);
}

.filter-placeholder {
    width: min(12em, 20vw);
    border-radius: 1em;
    visibility: hidden;
    padding: 2em;
    margin: 2em 0 2em 2em;
}

.filter-wrapper {
    width: min(12em, 20vw);
    border-radius: 1em;
    height: max-content;
    background: var(--clr-primary-100);
    padding: 2em;
    margin: 2em 0 2em 2em;
    position: fixed;
    left: 7vw;
}

.filter-wrapper a,
.filter-wrapper p {
    display: block;
}

#mode-sorting,
#group-size-sorting {
    margin-left: 0.5em;
}

input#group-size {
    width: 2em;
}

input#virtual,
input#in-person {
    margin-left: 0.5em;
}

p.event-card-title {
    display: inline;
}

.event-card {
    border-radius: 1em;
    box-shadow: 0 0 15px 0 var(--clr-primary-100);
    background: var(--clr-primary-200);
    padding: 3em;
    margin: 2em;
    position: relative;
}

.event-card button,
#form-submit {
    display: block;
    background: var(--clr-primary-400);
    border-radius: 0.3em;
    padding: 0.5em 1.5em;
    /* color: var(--clr-neutral-100); */
}

.event-card button:hover,
.event-card button:focus,
.event-card button:active {
    -webkit-transform: scale(1.3) rotate(4deg);
    transform: scale(1.3) rotate(4deg);
}

.card-corner {
    position: absolute;
    top: 3em;
    right: 3em;
    text-align: center;
}

.card-title {
    color: var(--clr-primary-700);
    font-size: 1.3em;
    font-weight: 600;
}

.virtual-tab {
    background: var(--clr-primary-300);
    border-radius: 0.5em;
    padding: 0 0.3em;
    text-transform: capitalize;
}

.form-wrapper {
    width: min(60vw, 600px);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    flex: 1;
    width: 100%;
}

.form-wrapper input,
.form-wrapper textarea {
    flex: 1;
    width: 100%;
    border: none;
    padding: 0.5em;
    background: transparent;
    border-bottom: 3px solid var(--clr-primary-300);
}

.form-wrapper div {
    margin: 0.4em 0;
}

.host-title {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 1em;
}

#mode {
    margin-left: 0.5em;
    padding: 0.1em;
    margin: 0.5em;
    background: transparent;
    border: none;
    border-bottom: 3px solid var(--clr-primary-300);
}

#form-submit {
    margin-top: 1.5em;
    border: none;
    padding: 0.9em 0;
    font-weight: 600;
}

#form-submit:hover,
#form-submit:focus {
    cursor: pointer;
}

form.login-wrapper > * + * {
    margin: 3em;
}

u:hover {
    cursor: pointer;
}

.bottom-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    background: var(--clr-primary-300);
    color: var(--clr-neutral-100);
    padding: 0.8em;
    font-size: 0.9em;
    /* position: absolute; */
    width: 100vw;
    /* bottom: 0; */
}
